:root {
    color-scheme: light dark;
}

body {
    width: 200px;
    padding: 10px;

    font-family: system-ui;
    text-align: center;
}

p {
    font-size: 0.9em;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}

/******* HIDE IRRELEVANT TOGGLES *******/
/* iPhone */
@media only screen and (max-device-width: 480px) {
    .platform-ipad-mac {
        display: none;
    }
}


@media only screen and (min-device-width: 768px) {
    .platform-iphone {
        display: none;
    }
}

.content-toggles {
    text-align: left;
    font-size: 1em;
    margin-bottom: 2em;
}

a:visited {
    color: blue;
}
