:root {
    color-scheme: light dark;
}

body {
    width: 200px;
    padding: 10px;

    font-family: system-ui;
    text-align: center;
}

.smaller-font {
    font-size: 0.85em;
}

.a-toggle {
    margin-bottom: 5px;
}

.tooltip-content {
  display: none;
}
.comments-toggle-wrapper:hover + .tooltip-content {
  display: block;
}

.toggle-group {
    margin: 0px 0px 15px 0px;
    padding: 0px;
}
.toggle-group h2 {
    font-size: 1.1em;
    margin: 0px 0px 5px 0px;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
    .colored-font {
        color: lightgray;
    }
}

/******* HIDE IRRELEVANT TOGGLES *******/
@media only screen and (max-device-width: 1312px) {
    .youtube-large-only {
        display:none
    }
}


/* iPhone */
@media only screen and (max-device-width: 768px) {
    .platform-ipad-mac {
        display: none;
    }
}


@media only screen and (min-device-width: 768px) {
    .platform-iphone {
        display: none;
    }
}

.content-toggles {
    text-align: left;
    font-size: 1em;
    margin-bottom: 2em;
}

a:visited {
    color: blue;
}

