/* hide videos on home page */
ytd-browse[page-subtype="home"] {
    visibility: hidden;
}

#related {
    visibility: hidden;
}

/* on narrow viewport, hide this element
because the comments will otherwise jump down
the page */
@media screen and (max-width: 1000px) {
    #related {
        display: none !important;
    }
}

ytd-guide-entry-renderer a[title="Trending"]{
    display: none !important;
}

#related #upnext {
    display: none;
}

#related #autoplay {
    visibility: visible;
}
#related #toggle {
    visibility: visible;
}

/* hide suggested videos popping up on end screen */
.ytp-endscreen-content {
    display: none !important;
}

/* style the toggle comments button */
#toggleComments {
    margin-top: 15px;
    background-color: #606060;
    border: none;
    padding: 10px 16px;
    text-align: center;
    border-radius: 2px;
    color: white;
    font-family: nyt-franklin, arial, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 400;
}

/* iPhone stuff */
div[tab-identifier="FEwhat_to_watch"]{
    display: none !important;
}

ytm-item-section-renderer[section-identifier="related-items"] {
    display: none;
}

/* hide ads on the search page */
ytm-promoted-sparkles-text-search-renderer,
ytd-promoted-sparkles-text-search-renderer,
ytd-promoted-sparkles-web-renderer {
    display: none !important;
}



/* hide the ads on a video page */
ytm-promoted-sparkles-web-renderer, ytm-companion-ad-renderer {
    display: none !important;
}
